@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.link {
	@apply hover:text-sky-400;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
	font-family: "Quicksand";
}
:root {
	--main: rgb(31, 41, 55);
	--main: #1e293b;
}
body {
	background: rgba(var(--main), 0.5); /* gray-800 */ /* #1f2937 */
	/* background: rgba(31, 41, 55, 0.5); */
	background: var(--main);
	/* background: #14181c; */
	color: #ffffff;
	font-family: "Nunito";
	margin: 0;
	padding: 0;
	height: 100vh;
}
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 8px;
	border: 4px solid transparent;
	background-clip: padding-box;
}
::-webkit-scrollbar-track {
	background: transparent;
}
/* ::-webkit-scrollbar-thumb {
	background-color: gray;
	border: 4px solid transparent;
	border-radius: 8px;
	background-clip: padding-box;
}

::-webkit-scrollbar {
	width: 16px;
} */
/* Position and sizing of burger button */
/* .bm-burger-button {
	position: fixed;
	width: 20px;
	height: 20px;
	right: 30px;
	top: 30px;
} */
.banner::before {
	--main: rgb(31, 41, 55);
	background-image: linear-gradient(
			90deg,
			var(--main) 0,
			rgba(31, 41, 55, 0.986) 0.97%,
			rgba(31, 41, 55, 0.945) 2.07833333%,
			rgba(31, 41, 55, 0.883) 3.29666667%,
			rgba(31, 41, 55, 0.803) 4.60166667%,
			rgba(31, 41, 55, 0.711) 5.96666667%,
			rgba(31, 41, 55, 0.61) 7.365%,
			rgba(31, 41, 55, 0.504) 8.77166667%,
			rgba(31, 41, 55, 0.398) 10.16%,
			rgba(31, 41, 55, 0.296) 11.505%,
			rgba(31, 41, 55, 0.203) 12.78%,
			rgba(31, 41, 55, 0.122) 13.95833333%,
			rgba(31, 41, 55, 0.059) 15.01666667%,
			rgba(31, 41, 55, 0.016) 15.92833333%,
			rgba(31, 41, 55, 0) 16.66666666%,
			rgba(31, 41, 55, 0) 83.33333333%,
			rgba(31, 41, 55, 0.016) 84.07166667%,
			rgba(31, 41, 55, 0.059) 84.98333333%,
			rgba(31, 41, 55, 0.122) 86.04166667%,
			rgba(31, 41, 55, 0.203) 87.22%,
			rgba(31, 41, 55, 0.296) 88.495%,
			rgba(31, 41, 55, 0.398) 89.84%,
			rgba(31, 41, 55, 0.504) 91.22833333%,
			rgba(31, 41, 55, 0.611) 92.635%,
			rgba(31, 41, 55, 0.711) 94.03333333%,
			rgba(31, 41, 55, 0.803) 95.39833333%,
			rgba(31, 41, 55, 0.883) 96.70333333%,
			rgba(31, 41, 55, 0.945) 97.92166667%,
			rgba(31, 41, 55, 0.986) 99.03%,
			#1f2937
		),
		linear-gradient(
			0deg,
			#1f2937 0,
			#1f2937 7.48148148%,
			rgba(31, 41, 55, 0.986) 9.63703704%,
			rgba(31, 41, 55, 0.945) 12.100000000000001%,
			rgba(31, 41, 55, 0.883) 14.80740741%,
			rgba(31, 41, 55, 0.803) 17.70740741%,
			rgba(31, 41, 55, 0.711) 20.74074074%,
			rgba(31, 41, 55, 0.611) 23.84814815%,
			rgba(31, 41, 55, 0.504) 26.97407407%,
			rgba(31, 41, 55, 0.398) 30.059259259999997%,
			rgba(31, 41, 55, 0.296) 33.04814815%,
			rgba(31, 41, 55, 0.203) 35.88148148%,
			rgba(31, 41, 55, 0.122) 38.5%,
			rgba(31, 41, 55, 0.059) 40.85185185%,
			rgba(31, 41, 55, 0.016) 42.87777778%,
			rgba(31, 41, 55, 0) 44.51851852%
		);
	background-repeat: no-repeat;
	content: "";
	position: block;
	height: 100%;
	height: max(1080px, min(100vh, 100%));
	pointer-events: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
	/* transform: translateX(-40%);
	left: 50%; */
	/* border: 1px solid white; */
}
.banner {
	/* height: min(1080px, 100vh); */
	/* aspect-ratio: 16 / 9; */
	/* transform: translateX(-60%);
	left: 50%; */
}
/* .navbar-shadow {
	background-color: transparent;
	background-image: linear-gradient(
		180deg,
		#1f2937 0,
		rgba(31, 41, 55, 0.945) 16.56%,
		rgba(31, 41, 55, 0.802) 30.85%,
		rgba(31, 41, 55, 0.606) 43.77%,
		rgba(31, 41, 55, 0.394) 56.23%,
		rgba(31, 41, 55, 0.198) 69.15%,
		rgba(31, 41, 55, 0.055) 83.44%,
		rgba(31, 41, 55, 0)
	);
	background-repeat: repeat-x;
	height: 95px;
	left: 0;
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 0;
}
.navbar-shadow:hover {
	background-color: transparent;
	background-image: linear-gradient(
		180deg,
		#1f2937 0,
		rgba(31, 41, 55, 0.945) 16.56%,
		rgba(31, 41, 55, 0.802) 30.85%,
		rgba(31, 41, 55, 0.606) 43.77%,
		rgba(31, 41, 55, 0.394) 56.23%,
		rgba(31, 41, 55, 0.198) 69.15%,
		rgba(31, 41, 55, 0.055) 83.44%,
		rgba(31, 41, 55, 0)
	);
	background-repeat: repeat-x;
	height: 95px;
	left: 0;
	opacity: 0.1;
	position: absolute;
	right: 0;
	top: 0;
} */
/* a {
	position: relative;
}
a::after {
	content: "";
	width: 100%;
	height: 1px;
	background: white;
	display: block;
	margin: -3px auto;
	position: absolute;

	right: 0;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}
a:hover::after {
	transform: scaleX(1);
} */

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.on {
	color: #000;
}
.off {
	color: #ccc;
}
/*
.my-button {
	background: linear-gradient(to left, #38bdf8 50%, #0284c7 50%) right;
	background-size: 200%;
	transition: 0.5s ease-out;
}
.my-button:hover {
	background-position: left;
}
*/
.move-tl {
	-webkit-animation: diagonal-tl 2s infinite;
	-moz-animation: diagonal-tl 2s infinite;
	-o-animation: diagonal-tl 2s infinite;
	animation: diagonal-tl 1s;
}
.move-bl {
	animation: diagonal-bl 1s;
}
.move-tr {
	animation: diagonal-tr 1s;
}
.move-br {
	animation: diagonal-br 1s;
}

/*@-webkit-keyframes diagonal {
	0% {
		transform: translatex(-30px) translatey(-30px);
	}
	50% {
		transform: translatex(20px) translatey(20px);
	}
	100% {
		transform: translatex(-30px) translatey(-30px);
	}
}

@-moz-keyframes diagonal {
	0% {
		transform: translatex(-30px) translatey(-30px);
	}
	50% {
		transform: translatex(20px) translatey(20px);
	}
	100% {
		transform: translatex(-30px) translatey(-30px);
	}
}
*/
@keyframes diagonal-tl {
	0% {
		transform: translatex(-100%) translatey(-100%);
	}
	100% {
		transform: translatex(0) translatey(0);
	}
}
@keyframes diagonal-bl {
	0% {
		transform: translatex(-100%) translatey(100%);
	}
	100% {
		transform: translatex(0) translatey(0);
	}
}
@keyframes diagonal-tr {
	0% {
		transform: translatex(100%) translatey(-100%);
	}
	100% {
		transform: translatex(0) translatey(0);
	}
}
@keyframes diagonal-br {
	0% {
		transform: translatex(100%) translatey(100%);
	}
	100% {
		transform: translatex(0) translatey(0);
	}
}
